$background: #262626;

$primary-blue: #2f80ed;
$primary-blue-hover: #0a66de;

$indicator-orange: #f8b76b;
$indicator-purple: #8785ff;
$indicator-red: #eb5757;
$indicator-yellow: #f2c94c;

$stickers-slate: #e9f3ff;
$stickers-orange: #fdcfa4;
$stickers-yellow: #f9e9c3;
$stickers-cyan: #afebdb;
$stickers-green: #cbf1c2;
$stickers-purple: #cfcef9;
$stickers-pink: #f9cfcf;
$stickers-darken-blue: #9dd0ed;

$xs: 0.75rem;
$sm: 0.875rem;
$base: 1rem;
$lg: 1.125rem;
$xl: 1.25rem;
$xxl: 1.5rem;
